@if ( loading ){
<app-alert [message]="'updating your password'"></app-alert>
} @if ( errorMsg ) {
<app-pop-message [message]="errorMsg"></app-pop-message>
}
<div class="container">
  <div class="row vh-100">
    <div
      class="mb-3 mt-auto mb-auto col-lg-6 col-md-8 col-sm-10 col-12 offset-sm-1 offset-md-2 offset-lg-3"
    >
      <input
        type="password"
        class="form-control mb-2"
        #passwordInput="ngModel"
        ngModel
        placeholder="Enter your new password"
        name="password"
        required
        minlength="8"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"
        [ngClass]="{
          'is-invalid': !passwordInput.valid && passwordInput.touched
        }"
      />
      <div *ngIf="passwordInput.errors?.required" class="invalid-feedback">
        password is required
      </div>
      <ul
        *ngIf="passwordInput.invalid && passwordInput.touched"
        class="invalid-feedback"
      >
        <li *ngIf="passwordInput.errors?.minlength">
          Password must be at least 8 characters long.
        </li>
        <li *ngIf="passwordInput.errors?.pattern">
          Password must contain at least one uppercase letter, one lowercase
          letter, one digit, and one special character.
        </li>
      </ul>
      <button
        class="btn btn-primary w-100"
        [disabled]="!passwordInput.valid"
        (click)="onUpdate()"
      >
        submit
      </button>
    </div>
  </div>
</div>
