/* 
.paginator {
}

@media screen and (min-width: 768px) {
  .paginator {
  }
}
*/

.voucher-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 71px);
}

@media screen and (min-width: 768px) {
  .voucher-page {
    min-height: 100vh;
  }

  .gift-card {
    max-width: 430px;
  }
}

.gift-card {
  border-radius: 10px;
  background: #fafafa;
  max-width: 100%;
  color: #3d3d3d;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.gift-card__image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
  max-width: 182px;
  background-size: cover;
  background-image: url("../../../../public/360_F_730143545_7SLrhZLBoq8V0dUfuJq34CuvBnZudkJd.jpg");
}

.gift-card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gift-card__code {
  display: inline-block;
  background: white;
  color: black;
  padding: 10px 13px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #e3e3e3;
}

.gift-card__amount {
  font-size: 60px;
  padding: 0px;
}

.gift-card--claimed {
  position: relative;
  opacity: 0.6;
  /* Greys out the card */
}

.gift-card--claimed::after {
  content: "Claimed";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
}

.gift-card__msg {
  font-size: 10px;
  display: block;
  margin-top: 10px;
}

.no-vouchers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* Adjust as per your layout */

  border-radius: 10px;
  color: #999;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.no-vouchers p {
  margin: 0;
}