.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 55;
  background-color: rgba(37, 37, 37, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-box {
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
}
