@if ( loading ){
<app-alert [message]="'creating change password request'"></app-alert>
}
<div class="container">
  <div class="row vh-100">
    <div
      class="mb-3 mt-auto mb-auto col-lg-6 col-md-8 col-sm-10 col-12 offset-sm-1 offset-md-2 offset-lg-3"
    >
      <input
        type="email"
        class="form-control mb-2"
        #emailInput="ngModel"
        ngModel
        placeholder="Enter your email"
        name="email"
        required
        email
        [ngClass]="{
          'is-invalid': !emailInput.valid && emailInput.touched
        }"
      />

      <button
        class="btn btn-primary w-100"
        [disabled]="!emailInput.valid"
        (click)="onUpdate()"
      >
        submit
      </button>
    </div>
  </div>
</div>
