<div class="container">
  <div class="row bg-light py-2" style="border-bottom: #000 dashed 1px">
    <div class="col-12">
      <p class="fs-6 text-center mb-0">Your Balance:</p>
      <p class="fs-4 text-center mb-0" style="color: #026daa; font-weight: 600">
        {{ points }}
      </p>
    </div>
  </div>

  <div class="row py-2" style="border-bottom: #000 dashed 1px">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          exchange rate :
          <span class="fs-5" style="color: #026daa; font-weight: 600"
            >x{{ exchangeRate }}
          </span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between">
            50 points <i class="bi bi-caret-right-square-fill"></i>
            {{ exchangeRate * 50 }} L.E
          </li>
          <li class="list-group-item d-flex justify-content-between">
            100 points <i class="bi bi-caret-right-square-fill"></i>
            {{ exchangeRate * 100 }} L.E
          </li>
          <li class="list-group-item d-flex justify-content-between">
            200 points <i class="bi bi-caret-right-square-fill"></i>
            {{ exchangeRate * 200 }} L.E
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row bg-light py-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center gap-3">
            <div class="w-100">
              <label for="form-label">points</label>
              <input
                type="number"
                class="form-control"
                name="from"
                id=""
                aria-describedby="helpId"
                placeholder=""
                [(ngModel)]="from"
                (input)="fromTyping()"
              />
            </div>
            <i class="bi bi-arrow-down-up"></i>

            <div class="w-100">
              <label for="form-label">egp</label>
              <input
                type="number"
                class="form-control"
                name="to"
                id=""
                [(ngModel)]="to"
                aria-describedby="helpId"
                placeholder=""
                (input)="toTyping()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
